/* Footer.css */
.footer {
    background-color: #f7f3f3;
    color: rgb(77, 51, 91) ;
    padding: 10px;
    text-align: center;
  }
  
  /* Add responsive styles if needed */
  @media (max-width: 768px) {
    .footer {
      font-size: 14px;
    }
  }
  
  
  /* Add additional styles as needed */
  